
.product{
    position: relative;
    z-index: 11111;
    top:-9rem;
    border-radius: 8px;
    background-color: var(--white);
    color: var(--gray);
}

.prod_title p{
    color: var(--gray) ;
}
.brand .brand_card{
    box-shadow: 5px 5px 10px #4d4d4db0;
}
.brand .brand_img {
    width: 100%;
    padding: 9px;
  border-radius: 2px;
}
.flex_col{
    flex-direction: column;
    justify-content: center !important;
}
.product_description{
    color: var(--gray) ;
    width: 70%;
    text-align: right;
    font-family: myfont;
    font-size: .9rem;
}

@media (max-width: 768px) {
    /* For tablets: */
    .product{
        top:-5rem !important;
        border-radius: 8px;
        background-color: var(--white);
        color: var(--gray);
    }
    
    .m_right .triangle_control{
        right: 56% !important;
    }
    .brand_card{
        width: 100% !important;
    }

}

@media (max-width: 425px) {
    /* For mobile phones: */
    .flex_col{
        flex-direction: column;
        justify-content: center !important;
        margin-right: 10% !important;
    }
    .m_right .triangle_control{
        right: 58% !important;
    }
}  