.product {
  z-index: 11111;
  top: -9rem;
  border-radius: 8px;
  background-color: var(--white);
}
.zahra_page .product {
  position: relative;
  min-height: 100vh;
}
.packaging_height{
  height: 25rem;
}

.prod_title p {
  color: var(--gray);
}

.zahra_page p {
  color: #635d5d;
  width: 70%;
  margin-right: auto;
  text-align: right;
  padding: 0 30px;
  line-height: 2.2;
}


/* zahra-page-triangle */

.zahra-page-triangle.triangle_control {
  top: 4rem !important;
  right: 10rem !important;
}
.zahra-page-triangle.triangle_control .triangle,
.zahra-page-triangle.triangle_control .triangle::before,
.zahra-page-triangle.triangle_control .triangle::after {
  width: 20em;
  height: 20em;
}

.zahra-page-triangle-bg.zahra-page-triangle.triangle_control {
  right: 14rem !important;
}

.zahra-page-triangle-bg.zahra-page-triangle.triangle_control .triangle,
.zahra-page-triangle-bg.zahra-page-triangle.triangle_control .triangle::before,
.zahra-page-triangle-bg.zahra-page-triangle.triangle_control .triangle::after {
  background-image: url("../../../images/packgeing.jpg");
  background-size: cover;
  background-position: center;
  opacity: 1 !important;
  border: 2px solid var(--heavenly);
}

.m_right .triangle_control{
  right: 54.2% !important;

}
.m_right .triangle,
.m_right .triangle:before,
.m_right .triangle:after {
  width: 2.4em !important;
  height: 2.4em !important;
}
.margin_right .triangle_control{
  right: 59.4% !important;

}


@media (max-width: 768px) {
  /* For tablets: */
  .product{
    overflow: hidden;
    height: auto;
  }
  .margin_right .triangle_control{
    right: 62.4% !important;
  }
  .zahra-page-triangle.triangle_control {
    top: 4rem !important;
    right: 7rem !important;
  }
  .zahra-page-triangle.triangle_control .triangle,
  .zahra-page-triangle.triangle_control .triangle::before,
  .zahra-page-triangle.triangle_control .triangle::after {
    width: 17em;
    height: 17em;
  }
  
  .zahra-page-triangle-bg.zahra-page-triangle.triangle_control {
    right: 10rem !important;
  }
  .zahra_page p {
    width: 80%;
  }
  .zahra_page .product {
    position: relative;
    min-height: auto;
}

}

@media (max-width: 425px) {
  /* For mobile phones: */

  .margin_right .triangle_control{
    right: 70.4% !important;
  }
  .zahra-page-triangle.triangle_control {
    top: 4rem !important;
    right: 6rem !important;
  }
  .zahra-page-triangle.triangle_control .triangle,
  .zahra-page-triangle.triangle_control .triangle::before,
  .zahra-page-triangle.triangle_control .triangle::after {
    width: 12em !important;
    height: 12em !important;
  }
  
  .zahra-page-triangle-bg.zahra-page-triangle.triangle_control {
    right: 9rem !important;
  }
  .zahra_page p {
    width: 100% !important;
    color: #635d5d;
    text-align: right;
    padding: 0 15px;
    line-height: 2.2;
    margin-bottom: 5%;
  }
  .zahra_page .product {
    position: relative;
    min-height: auto;
}
.m-mall-screen{
  margin: 0 3% !important;
}
}