.product {
  z-index: 11111;
  top: -9rem;
  border-radius: 8px;
  background-color: var(--white);
}
.zahra_page .product {
  position: relative;
  min-height: 100vh;
}
.packaging_height {
  height: 25rem;
}

.prod_title p {
  color: var(--gray);
}
.zahra_page p {
  color: #635d5d;
  width: 70%;
  margin-right: auto;
  padding: 0 30px;
  line-height: 2.2;
}
.rtl .zahra_page p {
  text-align: right;
  padding: 0 30px;
}
.ltr .zahra_page p {
  width: 80%;
  margin-right: auto;
  text-align: left;
  padding: 0 30px;
  margin-top: 5%;
}
.ltr
  .Product_page
  .product_container.packaging
  .prod_title
  .map_text
  .triangle_control {
  left: 54% !important;
}

.packaging .triangle-control-com {
  /* margin-right: 5rem; */
  left: -2rem;
  top: 6rem;
}

/* zahra-page-triangle */
.rtl .packaging .packaging .triangle-control-com {
  /* margin-right: 5rem; */
}

.rtl .prod_title.m_right .triangle_control {
  right: 55% !important;
}
.ltr .m_right .triangle_control {
  left: 54% !important;
}
.rtl .m_right .triangle,
.rtl .m_right .triangle:before,
.rtl .m_right .triangle:after {
  width: 2.4em !important;
  height: 2.4em !important;
}
.ltr .m_right .triangle,
.ltr .m_right .triangle:before,
.ltr .m_right .triangle:after {
  width: 2em !important;
  height: 2em !important;
}
.rtl .Product_page .margin_right .triangle_control {
  right: 59.4% !important;
}
.ltr .Product_page .margin_right .triangle_control {
  left: 54% !important;
}
.ltr .product_container .policy_paragraph {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100% !important;
}

.ltr .packaging .triangle-control-com {
  /* top: 10rem;
  left: 44rem; */
  left: calc(100% - 31rem);
  top: 5rem;
  /* transform: rotate(30deg); */
}
.ltr .packaging .triangle-control-com :first-child {
  left: 3rem;
}

@media (max-width: 768px) {
  /* For tablets: */
  .ltr .packaging .triangle-control-com {
    top: 3rem;
    left: 16rem;
  }
  .rtl .packaging .triangle-control-com {
    top: -4rem !important;
    right: 6rem !important;
  }
  .ltr.packaging .triangle-control-com :first-child {
    left: 3rem;
  }

  .ltr
    .Product_page
    .product_container.packaging
    .prod_title
    .map_text
    .triangle_control {
    left: 57% !important;
  }
  .rtl .packaging .triangle-control-com {
    margin-top: 9rem;
    margin-right: -6rem;
  }
  .ltr .zahra_page p {
    width: 90%;
    padding: 0 30px;
    margin-top: 0% !important;
  }
  .ltr .Product_page .margin_right .triangle_control {
    left: 56% !important;
  }
  .product {
    overflow: hidden;
    height: auto;
  }
  .margin_right .triangle_control {
    right: 62.4% !important;
  }

  .zahra_page p {
    width: 80%;
  }
  .zahra_page .product {
    position: relative;
    min-height: auto;
  }
  .product_container .m_right .triangle_control {
    right: 57% !important;
  }
  .Product_page .packaging .margin_right .triangle_control {
    left: 57% !important;
  }
  .rtl .Product_page .packaging .margin_right .triangle_control {
    right: 63% !important;
  }
}

@media (max-width: 425px) {
  /* For mobile phones: */

  .ltr .packaging .triangle-control-com {
    top: -4rem;
    left: -1rem;
  }
  .rtl .packaging .triangle-control-com {
    top: -4rem !important;
    right: 6rem !important;
  }
  .ltr .packaging .triangle-control-com :first-child {
    left: 3rem;
  }
  .ltr
    .Product_page
    .product_container.packaging
    .prod_title
    .map_text
    .triangle_control {
    left: 59% !important;
  }
  .rtl .packaging .triangle-control-com,
  .ltr .packaging .triangle-control-com {
    margin-top: 5rem;
    margin-right: -4rem;
  }
  .rtl .zahra_page p {
    margin-top: 10% !important;
  }
  .ltr .zahra_page p {
    width: 90%;
    padding: 0 30px;
    margin-top: 0% !important;
  }
  .ltr .Product_page .margin_right .triangle_control {
    left: 59% !important;
  }
  .rtl .Product_page .margin_right .triangle_control {
    right: 70% !important;
  }
  .ltr .product_container .m_right .triangle_control {
    left: 59% !important;
  }
  .margin_right .triangle_control {
    right: 70.4% !important;
  }
  .rtl .zahra-page-triangle.triangle_control {
    top: 7rem !important;
    right: 8rem !important;
  }
  .ltr .zahra-page-triangle.triangle_control {
    top: 3rem !important;
    left: 16rem !important;
  }
  .zahra_page p {
    width: 100% !important;
    color: #635d5d;
    text-align: right;
    padding: 0 15px;
    line-height: 2.2;
    margin-bottom: 5%;
    padding-top: -10% !important;
  }
  .zahra_page .product {
    position: relative;
    min-height: auto;
  }
  .m-mall-screen {
    margin: 0 3% !important;
  }
}
