.product{
    position: relative;
    z-index: 11111;
    top:-9rem;
    border-radius: 8px;
    background-color: var(--white);
}

.prod_title p{
    color: var(--gray) ;
}
.policy_paragraph{
    color: #4D4D4D !important;
    line-height: 2.3;
    font-size: 16px;
    font-weight: 300;
    font-family: myfont;
}