.product {
  z-index: 11111;
  top: -7rem !important;
  border-radius: 8px;
  background-color: var(--white);
}
.about-left {
  position: relative;
}

.about .product {
  position: relative;
  min-height: 100vh;
}

.prod_title p {
  color: var(--gray);
}
.policy_paragraph {
  color: #4d4d4d !important;
  line-height: 2.3;
  font-size: 16px;
  font-weight: 300;
  font-family: myfont;
}
.paragraph span {
  font-weight: bold;
}
.about p {
  text-align: right;
  color: #635d5d;
  line-height: 2.2;
  font-size: 16px;
  opacity: 0.9;
}
.about .paragraph {
  padding: 0 !important;
}
.about .paragraph-header {
  font-size: 17px !important;
  opacity: 1 !important;
}
.medals_list .arrow {
  color: #29abe2;
}
.medals_list li {
  color: #635d5d;
}
.rtl .about .triangle_control {
  right: 54% !important;
  top: -1px;
}

@media (max-width: 768px) {
  /* For tablets: */
  .about_text {
    text-align: center;
    margin-top: 52%;
  }
  .rtl .about .triangle_control {
    right: 52% !important;
    top: -1px;
  }
  .rtl .m-right .triangle_control {
    right: 56% !important;

  }
  .about-left {
    top: -5rem !important;
    right: 0rem !important;
  }
  .triangle-control-com-left {
    top: -37rem;
    right: calc(-50% + 13rem) !important;
  }

  .modals .triangle-control-com-left {
    top: -47rem;
  }

  .triangle-control-com-left :nth-child(2) {
    left: 2rem;
  }

  .ltr .triangle-control-com-left {
    top: 8rem !important;
  }
}
@media (max-width: 425px) {
  /* For mobile phones: */
  .about_text {
    margin-top: 79%;
  }

  .about-left.about-page-triangle-bg .triangle {
    top: 21.4em !important;
    right: 8rem !important;
  }
  .about-left.about-page-triangle-bg .triangle,
  .about-left.about-page-triangle-bg .triangle:before,
  .about-left.about-page-triangle-bg .triangle:after {
    width: 13em;
    height: 13em;
    border: 2px 0px 1px 0;
  }

  .about-left {
    right: 1.5rem !important;
    top: -10rem !important;
  }
}

.triangle-control-com-left {
  position: relative;
  right: 2rem;
}

.triangle-control-com-left .triangle-com {
  /* transform: rotate(90deg) !important; */
  transform: rotateY(180deg);
}

.triangle-control-com-left :first-child {
  left: 0rem !important;
}

.ltr .About .about-us .left .prod_title .map_text .triangle_control {
  left: 53% !important;
}
.ltr .About .about-us .right .prod_title .map_text .triangle_control {
  left: 52% !important;
}
.ltr .About .about-us .right .prod_title .map_text .triangle_control {
  left: 53% !important;
}
.ltr .About .ma-right .right .prod_title .map_text .triangle_control {
  left: 63% !important;
}
.ltr .About .aboutleft .left .prod_title .map_text .triangle_control {
  left: 72% !important;
}
.ltr .About .medals .left .prod_title .map_text .triangle_control {
  left: 57% !important;
}
.ltr .left .triangle-control-com-left {
  position: absolute;
  right: 23rem !important;
}

/*  */
/*  */

.ltr .m_button {
  margin-bottom: 8rem !important;
}
.ltr .triangle-control-com-left :nth-child(1) {
  left: 1rem !important;
}

.ltr .triangle-control-com-left :nth-child(2) {
  left: -1rem;
}
@media (max-width: 768px) {
  .about_text {
    text-align: center;
    margin-top: 52%;
  }

  .about-left {
    top: -5rem !important;
    right: 0rem !important;
  }
  .ltr .About .about-us .left .prod_title .map_text .triangle_control {
    left: 59% !important;
  }
  .ltr .About .about-us .right .prod_title .map_text .triangle_control {
    left: 59% !important;
  }
  .ltr .About .ma-right .right .prod_title .map_text .triangle_control {
    left: 73% !important;
  }
  .ltr .About .aboutleft .left .prod_title .map_text .triangle_control {
    left: 82% !important;
  }
  .ltr .About .medals .left .prod_title .map_text .triangle_control {
    left: 67% !important;
  }
}
@media (max-width: 425px) {
  .about_text {
    margin-top: 79%;
  }
  .ltr .triangle-control-com-left :nth-child(1) {
    left: 5rem !important;
  }
  .ltr .paragraph {
    margin-right: 0% !important;
}
.ltr .description2 {
  margin-left: 2% !important;
}
  .ltr .triangle-control-com-left :nth-child(2) {
    left: 3rem;
  }

  .ltr .About .about-us .right .prod_title .map_text .triangle_control {
    left: 65% !important;
  }
  .ltr .About .ma-right .right .prod_title .map_text .triangle_control {
    left: 99.8% !important;
  }
  .ltr .About .about-us .left .prod_title .map_text .triangle_control {
    left: 67% !important;
}
  .ltr .About .aboutleft .left .prod_title .map_text .triangle_control {
    left: 110% !important;
  }
  .ltr .About .medals .left .prod_title .map_text .triangle_control {
    left: 83% !important;
  }
  .about-left {
    right: 1.5rem !important;
    top: -10rem !important;
  }
  .ltr .About .right,
  .ltr .About .left {
    text-align: left !important;
  }
}