.contact_list {
  direction: rtl;

}
.navbar {
  background-color: #f4f5f948;
  border-radius: 5px;
  max-height: 8vh;
  display: flex;
  border: 2px solid #f4f5f948;
  position: relative;
  gap: 25px;
  z-index: 100000;
  direction: rtl;
}

.ltr .contact_list {
  margin-left: -5%;
}

.ltr .navbar .navbar-nav {
  flex-direction: row-reverse;
  text-align: start;
}

.ltr .navbar .navbar-nav {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.navbar .collapse {
  width: 65vw;
  border-radius: 4px;
  transition: all;
}
.navbar .menu {
  font-size: 2.3rem;
  color: #fff;
}
.navbar .navbar-nav .nav-item:hover .nav-link,
.navbar .navbar-nav .dropmenu:hover .dropdown-item {
  color: var(--heavenly) !important ;
  transition: all 0.5s;
}
.navbar .dropdown-menu {
  background-color: #f4f5f948;
  border: 2px solid #f4f5f948;
  width: 95%;
}
.rtl .navbar .dropdown-menu .dropmenu {
  padding-right: 0;
  text-align: right;
}.ltr .navbar .dropdown-menu .dropmenu {
  padding-right: 0;
  text-align: left;
}
.navbar .dropdown-menu .dropmenu .dropdown-item {
  width: 100%;
}
.navbar .dropdown-menu .dropmenu:hover .dropdown-item {
  background-color: #f4f5f948 !important;
}

.navbar .contact {
  position: relative;
  top: 10px !important;
  z-index: 100000;
}

.navbar ul li:not(:last-of-type) {
  padding-right: 20px;
}

.navbar .logo_nav {
  width: 7vw;
  margin-top: -11px;
}

.navbar .language_icon {
  color: var(--heavenly);
}

.navbar .navbar-toggler {
  border: 0;
  box-shadow: none;
  outline: none;
}

.contact_icon {
  color: var(--heavenly);
}

.contact_list {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  margin-right: 5% !important;
  position: relative;
  z-index: 11111;
}
.form-select option {
  background-color: #ffffff77 !important;
  color: #333 !important;
  padding: 8px;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 4%;
}
.nav-link.active {
  color: var(--heavenly) !important;
}
.form-select option:hover {
  background-color: #f0f0f0 !important;
  color: var(--heavenly) !important;
}

.form-select option:checked {
  background-color: #e0e0e0 !important;
  color: var(--heavenly);
  font-weight: bold;
}
.contact_list li {
  margin-left: 1.5%;
}
.navbar-toggler:focus {
  border: none !important;
}
.form-select {
  background-color: #f4f5f967 !important;
  color: #fff !important;
  border: none !important;
}

@media (max-width: 768px) {
  .ltr .contact{
    margin-right: 2rem;
  }
  .ltr .navbar-nav{
    display: flex !important;
    flex-direction: column !important;
    direction: ltr;
    margin-top: 2% !important;
  }
  .ltr .navbar-nav li{
    margin-left: 3% !important;

  }
  nav.navbar {
    padding: 0;
    position: relative;
  }
  nav.navbar .navbar-collapse {
    position: absolute;
    right: 0px;
    top: 100%;
  }
  .navbar .collapse {
    background-color: #f4f5f948 !important;
  }
  .contact_list {
    margin-right: 7%;
  }
  .navbar .navbar-brand {
    max-width: 10vw;
  }
  .navbar .navbar-toggler {
    color: #fff !important;
  }
  .navbar .logo_nav {
    width: 13vw;
    margin-top: -5em;
  }
  .navbar .navbar-brand {
    position: relative;
    top: 35px !important;
    left: -12px !important;
  }
  .navbar .collapse {
    width: 88.5vw;
  }
}

@media (max-width: 425px) {
  nav.navbar {
    padding: 0;
    position: relative;
  }
  nav.navbar .navbar-collapse {
    position: absolute;
    right: 0px;
    top: 100%;
  }
  .contact_list {
    margin-right: 7%;
  }
  .navbar .navbar-brand {
    max-width: 7vw;
  }
  .navbar .navbar-toggler {
    color: #fff !important;
  }
  .navbar .logo_nav {
    width: 16vw;
    margin-top: -5em;
  }
  .navbar .navbar-brand {
    position: relative;
    top: 30px !important;
  }
  .contact_list {
    margin-right: 10%;
  }
  .me-md-4 {
    margin-right: 5% !important;
  }
  .navbar .collapse {
    width: 83vw;
  }
}